body {
    background-image: url('../image/fon2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
