body {
    background-image: url('../image/fon2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}