{% extends "shablon.html" %}

{% block title %}Home Page{% endblock %}


 <style>
  .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; /* Центрирование содержимого по горизонтали */
      height: 100%;
      text-align: center; /* Центрирование текста */
  }
  .timer {
      font-size: 48px; /* Увеличенный размер шрифта для таймера */
      margin-top: 20px;
      color: #333;
  }
 </style>

{% block content %}
 <div class="container my-1">
    <div class="row">
        <div class="col-lg-12 col-sm-12 mb-4">
            <div class="card h-100" style="width: 54rem; height: auto;">
                <div class="card-body">
                    <div class="fw-bolder card-title" align="left" id="timer" class="timer">30 {{ time_left }}</div>
                    <div id="question" class="fs-3 fw-bold card-title" align="center">Столица России?</div>
                    <a href="/game" type="submit" class="btn btn-outline-success fw-bolder full-width-button my-1">Москва</a>
                    <a href="/game" type="submit" class="btn btn-outline-success fw-bolder full-width-button my-1">Берлин</a>
                    <a href="/game" type="submit" class="btn btn-outline-success fw-bolder full-width-button my-1">Лондон</a>
                    <a href="/game" type="submit" class="btn btn-outline-success fw-bolder full-width-button my-1">Ташкент</a>
                    <a href="/game" type="submit" class="btn btn-outline-danger fw-bolder full-width-button my-1">Пропустить</a>
                </div>
            </div>
        </div>
    </div>
 </div>

<script>
    let timeLeft = 30;
    const timerElement = document.getElementById('timer');

    const countdown = setInterval(() => {
        if (timeLeft <= 0) {
            clearInterval(countdown);
            timerElement.textContent = 'Время вышло!';
        } else {
            timerElement.textContent = timeLeft;
            timeLeft--;
        }
    }, 1000);
</script>


{% endblock %}