{% extends "shablon.html" %}

{% block title %}Home Page{% endblock %}


 <style>
  .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; /* Центрирование содержимого по горизонтали */
      height: 100%;
      text-align: center; /* Центрирование текста */
  }
  .timer {
      font-size: 48px; /* Увеличенный размер шрифта для таймера */
      margin-top: 20px;
      color: #333;
  }
 </style>

{% block content %}
    <div class="container my-1">
        <div class="row">
                <!-- Карточка 1 -->
            <div class="col-lg-12 col-sm-12 mb-4">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg пример">
                  <option selected>Выберите категорию вопросов</option>
                  <option value="1">География</option>
                  <option value="2">История</option>
                  <option value="3">Спорт</option>
                  <option value="4">Литература</option>
                  <option value="5">Экономика</option>
                </select>
                <a href="/game" type="submit" class="btn btn-outline-success full-width-button">Начать</a>
            </div>
        </div>
    </div>
<script>
    let timeLeft = 30;
    const timerElement = document.getElementById('timer');

    const countdown = setInterval(() => {
        if (timeLeft <= 0) {
            clearInterval(countdown);
            timerElement.textContent = 'Время вышло!';
        } else {
            timerElement.textContent = timeLeft;
            timeLeft--;
        }
    }, 1000);
</script>


{% endblock %}