{% extends "shablon.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <div class="container my-1">
              <div class="row">
                <!-- Карточка 1 -->
                <div class="col-lg-4 col-sm-12 mb-4">
                  <div class="card h-100">
<!--                    <img src="../static/image/folio01.png" class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Начать игру</a>
                    </div>
                  </div>
                </div>
                <!-- Карточка 2 -->
                <div class="col-lg-4 col-sm-12 mb-4">
                  <div class="card h-100">
<!--                    <img src="../static/image/folio02.png" class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Статистика</a>
                    </div>
                  </div>
                </div>
                <!-- Карточка 3 -->
                <div class="col-lg-4 col-sm-12 mb-4">
                  <div class="card h-100">
<!--                    <img src="../static/image/folio03.png" class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <a href='/profile' class="btn btn-primary">Профиль</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}
