{% extends "shablon.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
         <h1 align="center">Наши работы</h1>
            <div class="container my-1">
              <div class="row">
                <!-- Карточка 1 -->
                <div class="col-lg-4 col-sm-12 mb-4">
                  <div class="card h-100">
                    <img src="../static/image/folio01.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <!-- Карточка 2 -->
                <div class="col-lg-4 col-sm-12 mb-4">
                  <div class="card h-100">
                    <img src="../static/image/folio02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <!-- Карточка 3 -->
                <div class="col-lg-4 col-sm-12 mb-4">
                  <div class="card h-100">
                    <img src="../static/image/folio03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>


{% endblock %}
