{% extends "shablon.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
 <div class="mx-auto p-2" style="width: 18rem;">
<!--        <img src="путь/до/вашего/изображения.jpg" class="card-img-top" alt="...">-->
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
<!--            <h5 class="card-title">Заголовок карточки</h5>-->
<!--            <p class="card-text">Некоторый текст для описания содержимого карточки.</p>-->
            <a href="#" class="btn btn-success">Начать игру</a>
        </div>
    </div>

{% endblock %}
