<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение пользовательских стилей -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<header>
    <div class="mx-auto p-2" style="width: 18rem;">
        <img src="../static/image/logot.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text fs-4 fw-bolder mx-auto p-2" align="center">Проверьте свои знания в игре</p>
        </div>
    </div>
</header>
<body>


    <div class="mx-auto p-2" style="width: 18rem;">
<!--        <img src="путь/до/вашего/изображения.jpg" class="card-img-top" alt="...">-->
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
<!--            <h5 class="card-title">Заголовок карточки</h5>-->
<!--            <p class="card-text">Некоторый текст для описания содержимого карточки.</p>-->
            <a href="#" class="btn btn-success">Начать игру</a>
        </div>
    </div>


    <!-- Подключение Bootstrap JS и зависимостей -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>